<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head.html::headFragment"></head>
<body class="cart-body">

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/nav.html::navFragment"></nav>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Shopping cart</h4>
                <div class="d-flex flex-row align-items-center pull-right">
                    <span class="mr-1">
                        Sort by:
                    </span>
                    <select name="sortby" id="sortby">
                        <option value="price_asc">Price (low to high)</option>
                        <option value="price_desc">Price (high to low)</option>
                        <option value="name_asc">Name (A to Z)</option>
                        <option value="name_desc">Name (Z to A)</option>
                    </select>
                </div>
            </div>
            <div th:each="cartItem : ${cartItems}">
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="https://i.imgur.com/XiFJkhI.jpg" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details"><a th:href="@{/item/{itemPublicId}(itemPublicId=${cartItem.item.publicId})}"><span class="font-weight-bold" th:text="${cartItem.item.title}">Basic T-shirt</span></a>
                        <!--<div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">Size:</span><span class="font-weight-bold">&nbsp;M</span></div>
                            <div class="color"><span class="text-grey">Color:</span><span class="font-weight-bold">&nbsp;Grey</span></div>
                        </div>-->
                    </div>
                    <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1" th:text="${cartItem.quantity}">2</h5><i class="fa fa-plus text-success"></i>
                    </div>
                    <div>
                        <h5 class="text-grey" th:text="${cartItem.item.price.number.doubleValueExact()+' '+cartItem.item.price.currency.currencyCode}">$20.00</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger"></i></div>
                </div>
            </div>

<!--            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">-->
<!--                <input type="text" class="form-control border-0 gift-card" th:value="'Total: '+${cartTotal}" disabled>-->
<!--            </div>-->
            <!-- TOTAL PRICE -->
            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                <div class="d-flex flex-column align-items-center product-details"><a><span class="font-weight-bold"></span></a>
                </div>
                <div class="d-flex flex-row align-items-center qty">
                    <h5 class="text-grey mt-1 mr-1 ml-1"></h5>
                </div>

                <div class="d-flex align-items-center">
                    <h5 class="text-grey" th:text="${'Total: '+cartTotal.number.doubleValueExact()+' '+cartTotal.currency.currencyCode}">Total: $20.00</h5>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded" sec:authorize="isFullyAuthenticated()">
                <a class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button" th:href="@{/checkout}">Proceed to Pay</a>
            </div>

            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded" sec:authorize="!isFullyAuthenticated()">
                <a class="btn btn-info btn-block btn-lg ml-2 pay-button" type="button" th:href="@{/login}">Login before proceeding to Pay</a>
            </div>

        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark" th:include="fragments/footer.html::footerFragment"></footer>

</body>
</html>