<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head.html::headFragment"></head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/nav.html::navFragment"></nav>

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Reset password</h3></div>
                            <div class="card-body">
                                <form th:method="POST" th:action="@{/verify/{uuid}/new(uuid=${uuid})}" th:object="${passwordReset}">
                                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}">
                                        <ul>
                                            <li th:each="err:${#fields.errors('password')}" th:text="${err}"></li>
                                        </ul>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" name="password" type="password" th:field="${passwordReset.password}">
                                        <label for="password">New password</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="repeatPassword" name="repeatPassword" type="password" th:field="${passwordReset.repeatPassword}">
                                        <label for="repeatPassword">Repeat password</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary" type="submit">Create new password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <!-- Footer-->
        <footer class="py-5 bg-dark" th:include="fragments/footer.html::footerFragment"></footer>
    </div>
</div>


</body>
</html>
