<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head.html::headFragment"></head>
<body>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/nav.html::navFragment"></nav>

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="alert alert-success" role="alert" th:if="${param.added}">Item successfully added to your cart</div>

        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" th:href="@{/resources/imagebig.jpg}" alt="...">
            </div>
            <div class="col-md-6">
                <div class="small mb-1" th:text="'SKU: '+${item.publicId}">
                    SKU: BST-498
                </div>
                <h1 class="display-5 fw-bolder" th:text="${item.title}">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span th:text="${item.price.number.doubleValueExact()}+' '+${item.price.currency.currencyCode}">$40.00</span>
                </div>
                <p class="lead" th:text="${item.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex" sec:authorize="isAuthenticated() && hasRole('CUSTOMER')" th:if="${leftInWarehouse!=0}">
                    <form th:action="@{/addToCart/{itemPublicId}(itemPublicId=${item.publicId})}" th:method="POST">
                        <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem">
                        <button class="btn btn-outline-dark flex-shrink-0 " type="submit" id="addToCartButton">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>
                </div>
                <div class="small mb-1">
                    Item stock:
                </div>
                <div class="small mb-1">
                    <table>
                        <tr>
                            <th>Store</th>
                            <th>Quantity</th>
                        </tr>
                        <tr th:each="element : ${storeWithQuantityMap}">
                            <td th:text="${element.key.storeTitle}">Store title</td>
                            <td th:text="${element.value}">Quantity</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="relatedItem : ${relatedItems}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" th:href="@{/resources/image.jpg}" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${relatedItem.title}">Fancy Product</h5>
                            <!-- Product price-->
                            <p th:text="${relatedItem.price.number.doubleValueExact()+' '+relatedItem.price.currency.currencyCode}">$80.00</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" th:href="@{/item/{publicId}(publicId=${relatedItem.publicId})}">View</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark" th:include="fragments/footer.html::footerFragment"></footer>


</body>

<script language="javascript" th:inline="javascript">
    /*<![CDATA[*/
    let leftInWarehouse = /*[[${leftInWarehouse}]]*/ 0;
    /*]]>*/
    $(document).ready(function(){
        checkButtonForStock();
    });

    function checkButtonForStock() {
        if (leftInWarehouse == 0) {
            if (!document.getElementById("addToCartButton").classList.contains('disabled')) {
                document.getElementById("addToCartButton").classList.add('disabled');
            }
        }else if (leftInWarehouse > 0) {
            if (document.getElementById("addToCartButton").classList.contains('disabled')) {
                document.getElementById("addToCartButton").classList.remove('disabled');
            }
        }


    }
</script>
</html>