<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js" th:src="@{webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Thymeleaf example</title>
</head>
<body>
    <h2>Thymeleaf page</h2>
    <p th:text="'Thymeleaf example text'">Example text that will not be shown</p>
    <p><img src="resources/linux.png"/> </p>



</body>
</html>